{% extends 'RoSkyNoodleBundle::layout.html.twig' %}
{% form_theme form 'form_table_layout.html.twig'  %}

{% block title %}
    Новая игра{{ parent() }}
{% endblock %}

{% block css_styles %}
    {{ parent() }}
    <link href="{{ asset('bundles/roskynoodle/css/niceButton.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <form action="{{ path('noodle_createGame') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <br>
        <button name="" type="submit" class="submit">Создать</button>
    </form>
{% endblock %}